%p{:style => "color: green"}= notice
%h1 Material containers
#material_containers
  - @material_containers.each do |material_container|
    = render material_container
    %p
      = link_to "Show this material container", material_container
= link_to "New material container", new_material_container_path
