.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title New material container
        %p.page-subtitle Connect job functions with levels for curated materials
      .page-actions
        = link_to 'Back to material containers', material_containers_path, class: 'btn btn-outline-secondary'

    = render 'form', material_container: @material_container
