.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title Edit learning material
        %p.page-subtitle Refresh resource details to keep content relevant
      .page-actions
        = link_to 'Back to learning materials', learning_materials_path, class: 'btn btn-outline-secondary'
        = link_to 'View learning material', @learning_material, class: 'btn btn-outline-primary'

    = render 'form', learning_material: @learning_material
