%p{:style => "color: green"}= notice
%h1 Learning materials
#learning_materials
  - @learning_materials.each do |learning_material|
    = render learning_material
    %p
      = link_to "Show this learning material", learning_material
= link_to "New learning material", new_learning_material_path
