.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title New learning material
        %p.page-subtitle Add a resource that helps learners thrive
      .page-actions
        = link_to 'Back to learning materials', learning_materials_path, class: 'btn btn-outline-secondary'

    = render 'form', learning_material: @learning_material
