.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title New skill category
        %p.page-subtitle Create a theme to group related skills
      .page-actions
        = link_to 'Back to skill categories', skill_categories_path, class: 'btn btn-outline-secondary'

    = render 'form', skill_category: @skill_category
