<div id="<%= dom_id skill_level %>">
  <p>
    <strong>Skill:</strong>
    <%= skill_level.skill_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= skill_level.level_id %>
  </p>

  <p>
    <strong>Notice:</strong>
    <%= skill_level.notice %>
  </p>

</div>
