.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title Edit skill level
        %p.page-subtitle Keep skill expectations aligned with reality
      .page-actions
        = link_to 'Back to skill levels', skill_levels_path, class: 'btn btn-outline-secondary'
        = link_to 'View skill level', @skill_level, class: 'btn btn-outline-primary'

    = render 'form', skill_level: @skill_level
