.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title New skill level
        %p.page-subtitle Connect a skill with a level to define expectations
      .page-actions
        = link_to 'Back to skill levels', skill_levels_path, class: 'btn btn-outline-secondary'

    = render 'form', skill_level: @skill_level
