<div id="<%= dom_id estimation_skill_level_item %>">
  <p>
    <strong>Level:</strong>
    <%= estimation_skill_level_item.level %>
  </p>

  <p>
    <strong>User:</strong>
    <%= estimation_skill_level_item.user_id %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= estimation_skill_level_item.skill_id %>
  </p>

</div>
