<h1>Editing estimation skill level item</h1>

<%= render "form", estimation_skill_level_item: @estimation_skill_level_item %>

<br>

<div>
  <%= link_to "Show this estimation skill level item", @estimation_skill_level_item %> |
  <%= link_to "Back to estimation skill level items", estimation_skill_level_items_path %>
</div>
