<h1>New estimation skill level item</h1>

<%= render "form", estimation_skill_level_item: @estimation_skill_level_item %>

<br>

<div>
  <%= link_to "Back to estimation skill level items", estimation_skill_level_items_path %>
</div>
