%div{:id => "#{dom_id skill_level_item}"}
  %p
    %strong Name:
    = skill_level_item.name
  %p
    %strong Tip:
    = skill_level_item.tip
  %p
    %strong Skill level:
    = skill_level_item.skill_level_id
