<div id="<%= dom_id skill_level_item %>">
  <p>
    <strong>Name:</strong>
    <%= skill_level_item.name %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= skill_level_item.tip %>
  </p>

  <p>
    <strong>Skill level:</strong>
    <%= skill_level_item.skill_level_id %>
  </p>

</div>
