<h1>Editing skill level item</h1>

<%= render "form", skill_level_item: @skill_level_item %>

<br>

<div>
  <%= link_to "Show this skill level item", @skill_level_item %> |
  <%= link_to "Back to skill level items", skill_level_items_path %>
</div>
