<div id="<%= dom_id estimation_skill %>">
  <p>
    <strong>Level:</strong>
    <%= estimation_skill.level %>
  </p>

  <p>
    <strong>User:</strong>
    <%= estimation_skill.user_id %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= estimation_skill.skill_id %>
  </p>

</div>
