<h1>Editing estimation skill</h1>

<%= render "form", estimation_skill: @estimation_skill %>

<br>

<div>
  <%= link_to "Show this estimation skill", @estimation_skill %> |
  <%= link_to "Back to estimation skills", estimation_skills_path %>
</div>
