.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title New level
        %p.page-subtitle Describe a new stage in the journey
      .page-actions
        = link_to 'Back to levels', levels_path, class: 'btn btn-outline-secondary'

    = render 'form', level: @level
