/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
body {
  background-color: #f2f3f7 !important;
}
.bg-purple {
  background-color: #6f42c1;
}

.estimation {
  width: 100px;
  //background: red;
  display: flex;
  align-items: center;
}
.estimation > .estimation-level {
  align-items: center;
  height: 18px;
  width: 12px;
  padding: 5px;
  margin: 0 2px 0 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid grey;
  //background-color: #67a300;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border: 1px solid #67a300;
  }
}
.estimation > .active {
  background-color: #67a300;
}
.learn_item {
  min-height: 78px;
}

.comment {
  background-color: #f2f3f5;
  border-radius: 18px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 35px;
}
