.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title Edit job function
        %p.page-subtitle Update title and keep responsibilities current
      .page-actions
        = link_to 'Back to job functions', job_functions_path, class: 'btn btn-outline-secondary'
        = link_to 'View job function', @job_function, class: 'btn btn-outline-primary'

    = render 'form', job_function: @job_function
