.page-wrapper
  .container
    .page-header
      .title-group
        %h1.page-title New job function
        %p.page-subtitle Define a new role to group related skills
      .page-actions
        = link_to 'Back to job functions', job_functions_path, class: 'btn btn-outline-secondary'

    = render 'form', job_function: @job_function
